<!DOCTYPE html>
<html ng-app="vtui">

<head>
    <meta charset="utf-8">
    <title>
        Mocha Visual Testing
    </title>
    <link rel="stylesheet" href="index.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body ng-controller="AppController" class="">
    <button ng-click="getItems()">Refresh</button>
    <div ng-repeat="test in tests" class="test">
        <h2>{{test.title}}</h2>
        <div ng-if="test.good && !test.diff">PASSED</div>
        <div ng-if="!test.good && !test.bad">
            <div>
                Need to mark current image as good or bad
            </div>
            <div class="imgs">
                <div class="img">
                    <h3>Current</h3>
                    <img ng-src="{{test.current}}">
                    <button ng-click="markGood(test)">Mark as good</button>
                    <button ng-click="markBad(test)">Mark as bad</button>
                </div>
            </div>
        </div>
        <div ng-if="test.good && test.diff">
            <div>
                Image has changed - option to use current as good image for next run
            </div>
            <div class="imgs">
                <div class="img">
                    <h3>Known good version</h3>
                    <img ng-src="{{test.good}}">
                </div>
                <div class="img">
                    <h3>Diff</h3>
                    <img ng-src="{{test.diff}}">
                </div>
                <div class="img">
                    <h3>Current<button ng-click="markGood(test)">Mark as good</button></h3>
                    
                    <img ng-src="{{test.current}}">
                </div>
            </div>
        </div>
        <div ng-if="test.bad && !test.diff">
            Image matches bad one - failed
            <img ng-src="{{test.bad}}">
        </div>
        <div ng-if="test.bad && test.diff">
            Image changed from bad one - option to mark as good or still bad
            <img ng-src="{{test.bad}}">
            <img ng-src="{{test.diff}}">
            <img ng-src="{{test.current}}">
        </div>
    </div>
</body>

</html>
